body{
    background-image: url("salmonCookiesBackground.png"); 
}
h1{
    text-align: center;
    font-family: 'times new roman';
    margin: 3%;
    color: #56c69c;
    font-size: 60px;
}
td{
    font-family: monospace;
    text-align: center;
    padding: 5px;
}
table{
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 3px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9);
}
table tr td{
    vertical-align: middle;
    padding: 1.5%;
}
tfoot{
    background-color: rgba(246, 246, 246, 0.9);
}
table thead td{
    padding: 2%;
}
thead{
    background-color: rgba(246, 246, 246, 0.9);
}
form{
    position: absolute;
    width: 20%;
    margin-left: 70%;
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: -20%;
}
input{
    width: 100%;
    margin: 2%;
}
button{
    margin-left: 40%;
}